@import "tailwindcss";

:root {
  color: #ffffff;
  background: #0a0a0a;
}

@theme inline {
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-inter);
}

.container {
  @apply mx-auto max-w-[1400px];
}
